body, html {
	height: 100%;
}

body {
	background: black;
	max-width: 600px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

/* Apparently blur filters and overflow:hidden; don't play nice */
#flashpadWrapper {
	transition: all 0.5s ease;
	opacity:1;
	filter: blur(0px);
	overflow: auto;
}

#flashpadWrapper.isObscured {
	opacity:0.2;
	filter: blur(2px);
}

#flashpad {
	width:95%;
	margin:0 auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid #808080;
	border-radius:13%;
	overflow: hidden;
}

.tile {
	width:23%;
	height: auto;
	margin:1%;
	overflow: hidden;
	background: #c0c0c0;
}

.tile img {
	width: 100%;
	height: 100%;
	display: block;
}

.tile.red {
	background: #FF3D3D;
}

.tile.green {
	background: #10ff00;
}

.tile.green-flash {
	animation: green-gray-blink 0.3s infinite;
}

.tile.red-flash {
	animation: red-gray-blink 0.3s infinite;
}

@keyframes green-gray-blink {
	0%, 49% {
	    background-color: #10ff00 ;
	}
	50%, 100% {
	    background-color: #9e9e9e;
	}
}

@keyframes red-gray-blink {
	0%, 49% {
	    background-color: #FF3D3D;;
	}
	50%, 100% {
	    background-color: #9e9e9e;
	}
}

.actionbutton {
	margin: 5px;
	width: calc(100% - 10px);
	padding: 11px 0 8px;
	font-family: "Passion One", sans-serif;
	font-size: 29px;
	background: #0cbb00;
	box-shadow: 0px 5px 0px #00651a;
	border: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #EAEAEA;
	text-align: center;
	text-decoration: none;
	max-width: 380px;
	border-radius:5px;
	overflow: hidden;
	display: none;
}

.actionbutton-red {
	background: #FF3D3D;
	box-shadow: 0px 5px 0px #750000;
}

.actionbutton.disabled {
	background: #757575;
	box-shadow: 0px 5px 0px #484848;
	color: #929292;
}

#players {
	position: absolute;
	top:90px;
	left:0;
	width:100%;
	height:calc(100% - 60px);
	opacity:1;
	z-index:40;
	color: white;
	font-family: "Open Sans", sans-serif;
	transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94); /* easeOutQuad */
}

#players.offscreen {
	top:100%;
	opacity:0;
}

#players ul {
	padding-left:0;
}

#players p, #players li {
	margin: 4px 0;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	list-style-type: none;
	text-transform: uppercase;
	transition: opacity 0.1s ease;
}

#players li span {
	font-size: 16px;
    display: inline-block;
    background: #9e9e9e;
    color: #000000;
    padding: 0px 3px;
    margin-left: 6px;
    border-radius: 3px;
}

#players strong {
	color: #00E200;
	font-size:24px;
	text-transform: uppercase;
}

.playerWantsToJoin #players li, .playerWantsToJoin #players p {
	opacity: 0;
}

#noPlayersMsg {
	color: #808080;
	font-weight: normal;
}

.gameTitle {
	margin-top: 0;
	padding-top: 5px;
	color: white;
	font-size:24px;
	text-align: center;
	width: 100%;
	height:60px;
	font-family: "Passion One", sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    margin-bottom: 8px;
    font-weight: normal;
    letter-spacing: 2px;
}

#players .gameTitle {
	display: none;		/* For short screens only */
}

#gameControl {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 10px);
	left: 5px;
	z-index:42;
	/*transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); /* easeInOutQuint */*/
	height:100px;
	text-align: center;
}

#gameControl .actionButton {
	margin: 0 5px;
	max-width: 400px;
}

.actionbutton.buttonIsActive {
	display: inline-block; /* otherwise display:none */
}

#gameControl .buttonIsActive.buttonIsHalf {
	width: calc(50% - 13px);
	max-width:200px;
}

#joinGameForm {
	position: absolute;
	top:-100px;
	width:100%;
	z-index:41;
	transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); /* easeInOutQuint */
	max-width: 600px;
}

.playerWantsToJoin #joinGameForm {
	top:70px;
}

#joinGameButton {
	margin-top:0;
	position: relative;
	display: block;
	width: calc(100% - 20px);
    margin: 0 auto;
}

#joinGameMessage, #generalGameMessage {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color:white;
	margin-top:20px;
	font-weight: bold;
	font-size:16px;
	text-transform: uppercase;
}

#playerInput {
	background: #E4E4E4;
	border: 0;
	width: calc(100% - 50px);
	margin: 0 auto;
	padding: 10px 5px;
	color: black;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-align: center;
	max-width:350px;
	display: block;
	border-radius: 5px 5px 0 0;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); /* easeOutQuint */
	text-transform: uppercase;
}

#playerInput:focus {
	outline: none;
}

.playerWantsToJoin #playerInput {
	top:0; /* Stop hiding behind button */
}

#playerInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666666;
}
#playerInput::-moz-placeholder { /* Firefox 19+ */
  color: #666666;
}
#playerInput:-ms-input-placeholder { /* IE 10+ */
  color: #666666;
}
#playerInput:-moz-placeholder { /* Firefox 18- */
  color: #666666;
}

#turn {
	color: white;
	font-family: "Passion One", sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	width: 100%;
	margin-top:20px;
}

#turn.highlight {
	color: #00E200;
}

#countdown {
	position: absolute;
	top:10px;
	right:10px;
	height: 40px;
  	width: 40px;
  	text-align: center;
  	display: none;
}

#countdown.isCountingDown {
	display: block;
}

@keyframes red-white-blink {
	0%, 49% {
	    color: #FF3D3D;
	    stroke: #FF3D3D;
	}
	50%, 100% {
	    color: #ffffff;
	    stroke: #ffffff;
	}
}

#countdown.isTimeCritical #countdown-number {
	animation: red-white-blink 0.3s infinite;
}

#countdown.isTimeCritical svg circle {
	animation: red-white-blink 0.3s infinite;
}

#countdown-number {
	color: white;
	display: inline-block;
	line-height: 40px;
	font-family: "Passion One", sans-serif;
	font-size: 24px;
}

svg {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
	stroke-dasharray: 113px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 4px;
	stroke: white;
	fill: none;
}

@media screen and (max-height: 500px) {
	#gameTitlePersistent {
		display: none;
	}
	#players .gameTitle {
		display: block;
	}
	#players {
		top:0;
	}
	#flashpad {
		margin-top:10px;
	}
	#turn {
		margin-top:10px;
	}
	#countdown.isCountingDown {
		display: none;
	}
}