@font-face {
	font-family: 'Opti Majer Irregular';
	src: url('/css/optimajerirregular-webfont.woff2') format('woff2'),
		 url('/css/optimajerirregular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body, html {
	height: 100%;
}

html {
	/* Prevents hidden offscreen buttons from appearing. */
	overflow: hidden;
}

body {
	background: black;
	/* Max width changes as a function of screen height. */
	max-width: 400px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

/* Wrapper is needed because blur filters and overflow:hidden; don't play nice */
#flashpadWrapper {
	transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
	opacity:0;
	filter: blur(2px);
	transform: scale(0.9);
	overflow: auto;
	padding-top: 20px;
	/* When page loaded, overriden by:
	opacity:0.2;
	*/
	/* When game active, overriden by:
	opacity:1;
	filter: blur(0px);
	transform: scale(1);
	*/
}

#flashpad {
	width:95%;
	margin:0 auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid #808080;
	border-radius:13%;
	overflow: hidden;
}

.tile {
	width:23%;
	height: auto;
	margin:1%;
	overflow: hidden;
	background: #c0c0c0;
    border-radius:100%; /* Prevents stray border when transforming. */
	/* Don't display highlight on click */
	user-select: none;
	-webkit-tap-highlight-color: transparent
}

.tile img {
	width: 100%;
	height: 100%;
	display: block;
}

.tile.red {
	background: #FF3D3D;
}

.tile.green {
	background: #10ff00;
    animation: press-tile-bounce 0.8s;
}

@keyframes press-tile-bounce {
    0%   { transform: scale(1); }
    15%  { transform: scale(1.3); }
    30%  { transform: scale(0.8); }
    45%  { transform: scale(1.1); }
    60%  { transform: scale(0.95); }
    75%  { transform: scale(1.03); }
    90%  { transform: scale(0.98); }
    100% { transform: scale(1); }
}

.tile.green-flash {
	animation: green-gray-blink 0.3s infinite, press-tile-bounce 0.8s;
}

.tile.red-flash {
	animation: red-gray-blink 0.3s infinite;
}

@keyframes green-gray-blink {
	0%, 49% {
		background-color: #10ff00 ;
	}
	50%, 100% {
		background-color: #9e9e9e;
	}
}

@keyframes red-gray-blink {
	0%, 49% {
		background-color: #FF3D3D;;
	}
	50%, 100% {
		background-color: #9e9e9e;
	}
}

.actionbutton-red, .actionbutton-green {
	margin: 0 5px;
	width: calc(100% - 10px);
	padding: 11px 0 8px;
	font-family: 'Opti Majer Irregular', sans-serif;
	font-size: 29px;
	border: 0;
	text-transform: uppercase;
	color: #EAEAEA;
	text-align: center;
	text-decoration: none;
	max-width: 380px;
	border-radius:5px;
	overflow: hidden;
    position: relative;
	display: inline-block;
}

@keyframes button-bounce {
    0%   { top: 0px; }
    90%   { top: 0px; }
    92%  { top: -12px; }
    94%  { top: 6px; }
    96%  { top: -3px; }
    100% { top: 0px; }
}

.actionbutton-green {
	background: #0cbb00;
	box-shadow: 0px 5px 0px #00651a;
    animation: button-bounce 6s infinite;
}

.actionbutton-red {
	background: #FF3D3D;
	box-shadow: 0px 5px 0px #750000;
}

.actionbutton-red.disabled, .actionbutton-green.disabled {
	background: #757575;
	box-shadow: 0px 5px 0px #484848;
	color: #929292;
}

.halfbutton {
	width: calc(50% - 13px);
	max-width:200px;
}

#players {
	position: absolute;
	left: 0;
	top:100%;
	width: 100%;
	height: calc(100% - 60px - 90px);
	opacity:0;
	z-index: 40;
	color: white;
	font-family: "Open Sans", sans-serif;
	transition: all 0.8s cubic-bezier(0.34, 1.34, 0.64, 1);
	overflow-x: hidden;
	overflow-y: scroll;
	/* When active, overriden by:
	top: 70px;
	opacity: 1;
	*/
}

/* Hide scrollbars cross-platform. */
#players::-webkit-scrollbar {
	display: none;
}
@-moz-document url-prefix() {
	#players {
		scrollbar-width: none;
	}
}

#players ul {
	padding-left:0;
	margin:0;
}

#players p, #players li, #players h2 {
	margin:0;
    padding: 2px 0;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	list-style-type: none;
	text-transform: uppercase;
}

@keyframes players-item-appear {
    0% { font-size: 0px; }
    100% { font-size:20px; }
}

#playersList li {
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1); /* easeOutBack */
    animation: players-item-appear 0.5s cubic-bezier(0.34, 2.0, 0.64, 1); /* easeOutBack */
}

#playersList li.inactive {
    font-size:0px;
    padding:0;
}

#players li span {
	font-size: 16px;
	display: inline-block;
	background: #0cbb00;
	color: white;
	padding: 0px 8px;
	margin-left: 6px;
	border-radius: 3px;
	position: relative;
	top: -1px;
}

#players h2 {
	font-family: 'Opti Majer Irregular', sans-serif;
	font-size:30px;
	font-weight: normal;
	margin:10px 0;
}

h2#playersListTitle {
	color: #FF3D3D;
}

h2#winnersListTitle {
	color: #00E200;
    display: none;
}

#noPlayersMsg {
	color: #808080;
	font-weight: normal;
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1); /* easeOutBack */
}

#noPlayersMsg.inactive {
    font-size:0;
}

.gameTitle {
	margin-top: 0;
	padding-top: 5px;
	color: white;
	text-align: center;
	width: 100%;
	height:60px;
	font-family: 'Opti Majer Irregular', sans-serif;
	text-transform: uppercase;
	font-size: 55px;
	margin-bottom: 8px;
	font-weight: normal;
}

.gameControl {
	position: absolute;
	bottom: -100px;
	width: calc(100% - 10px);
	left: 5px;
	z-index:42;
	text-align: center;
    font-family: 'Opti Majer Irregular', sans-serif;
    font-size: 29px;
    color:white;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
	/* When active, overriden by:
	bottom: 10px;
	*/
}

#setNameForm {
	position: absolute;
	top:-110px;
	width:100%;
	z-index:41;
	transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
	max-width: 600px;
	/* When active, overrden by:
	top:70px;
	*/
}

#setNameButton {
	margin-top:0;
	position: relative;
	display: block;
	width: calc(100% - 20px);
	margin: 0 auto;
}

.errorMessage {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color:white;
	margin-bottom:10px;
	font-weight: bold;
	font-size:16px;
	text-transform: uppercase;
}

#playerInput {
	background: #E4E4E4;
	border: 0;
	width: calc(100% - 50px);
	margin: 0 auto;
	padding: 10px 5px;
	color: black;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-align: center;
	max-width:350px;
	display: block;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
}

#playerInput:focus {
	outline: none;
}

#playerInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666666;
}
#playerInput::-moz-placeholder { /* Firefox 19+ */
  color: #666666;
}
#playerInput:-ms-input-placeholder { /* IE 10+ */
  color: #666666;
}
#playerInput:-moz-placeholder { /* Firefox 18- */
  color: #666666;
}

.winScreen {
	position: absolute;
	left: 0;
	top: 25%;
	width: 100%;
	text-align: center;
	z-index:43;
	transform: scale(0.01);
	opacity: 0;
	transition: all 1.5s cubic-bezier(0.34, 1.56, 0.64, 1); /* easeOutBack */

	/* When active, overriden by:
	transform: scale(1);
	opacity:1;
	*/
}

.winScreenMessage {
	font-family: 'Opti Majer Irregular', sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	color: #00E200;
	text-align: center;
}

#winScreenWithPrompt {
	top: 15%;
}

#winScreenWithPrompt .winScreenMessage {
	color: #FF3D3D;
}

#winScreenWithPrompt .halfbutton {
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 1.0s;
    margin-top:50px;
    transform: scale(0.01);
    opacity: 0;
    
    /* When active, overriden by:
    transform: scale(1);
    opacity:1;
    */
}

#turn {
	color: white;
	width: 95%;
	margin:20px auto 0;
    position: relative;
    overflow: hidden;
}

@keyframes player-slidein {
    0% { left:-100px; opacity:0; }
    20% { opacity:1; }
    50% { left:20px; }
    100% { left:0px; }
}

#currentPlayer {
    font-family: 'Opti Majer Irregular', sans-serif;
    font-size:36px;
    text-transform: uppercase;
    position: relative;
    animation: player-slidein 0.8s ease;
    left:0;
    display: none;
    /* When active, overriden by:
    display: block;
    */
}

#currentPlayer.highlight {
	color: #00E200;
}

#currentPlayerLabel {
    font-family: 'Opti Majer Irregular', sans-serif;
    font-size:22px;
    text-transform: uppercase;
    opacity: 0;
    color:#c0c0c0;
    transition: all 0.5s linear;
    /* When active, overriden by:
    opacity:1;
    */
}

#countdown {
	position: absolute;
	top:5px;
	right:0px;
	height: 60px;
	width: 60px;
	text-align: center;
	display: none;
	z-index:46;
}

#countdown.isCountingDown {
	display: block;
}

@keyframes red-white-blink {
	0%, 49% {
		color: #FF3D3D;
		stroke: #FF3D3D;
	}
	50%, 100% {
		color: #ffffff;
		stroke: #ffffff;
	}
}

#countdown.isTimeCritical #countdown-number {
	animation: red-white-blink 0.3s infinite;
}

#countdown.isTimeCritical svg circle {
	animation: red-white-blink 0.3s infinite;
}

#countdown-number {
	color: white;
	display: inline-block;
	line-height: 60px;
	font-family: 'Opti Majer Irregular', sans-serif;
	font-size: 36px;
	z-index: 47;
	position: relative;
}

#countdown svg {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown svg circle {
	stroke-dasharray: 180px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 4px;
	stroke: white;
	fill: black;
}

/* Larger screens can have a wider game board */
@media screen and (min-height: 675px) {
	body {
		max-width: 500px;
	}
}

@media screen and (min-height: 800px) {
	body {
		max-width: 600px;
	}
}

/* Overrides for styles when elements are active. */

body.pageLoaded #flashpadWrapper {
	opacity: 0.2;
}

body.stateTitleScreen.inactivePlayer.noGameInProgress #gameControl-inactivePlayerTitleScreen, 
body.stateTitleScreen.activePlayer #gameControl-activePlayerTitleScreen,
body.stateInGame.activePlayer #gameControl-activePlayerInGame,
body.gameInProgress.inactivePlayer #gameControl-inactivePlayerInGame {
	bottom: 10px;
}

body.stateTitleScreen #players {
	top: 30px;
	opacity: 1;
}

body.stateNamePrompt #setNameForm {
	top:70px;
}

body.stateGameStart #flashpadWrapper,
body.stateInGame #flashpadWrapper {
	opacity:1;
	filter:blur(0px);
	animation: none;
	transform: scale(1);
}

.stateInGame #currentPlayerLabel {
    opacity: 1;
}

.stateInGame #currentPlayer {
    display: block;
}

body.stateGameOver #winScreen {
	transform: scale(1);
	opacity: 1;
}

body.stateGameOverWin #winScreenWithPrompt {
	transform: scale(1);
	opacity: 1;
}

body.stateGameOverWin #winScreenWithPrompt .halfbutton {
    opacity:1;
    transform: scale(1);
}